# setup.sh generates the real Pulumi.dev.yaml. This shows the config it sets.
config:
  aws:region: us-west-2
  sockpuppet:apiKey:
    secure: <pulumi config set --secret apiKey "$(openssl rand -hex 24)">
  sockpuppet:groqApiKey:
    secure: <pulumi config set --secret groqApiKey YOUR_GROQ_KEY>
  sockpuppet:agentGitUrl: https://github.com/OWNER/sockpuppet.git
