# setup.sh generates the real Pulumi.dev.yaml. This shows the config it sets.
config:
  aws:region: us-west-2
  furnace:apiKey:
    secure: <pulumi config set --secret apiKey "$(openssl rand -hex 24)">
  furnace:groqApiKey:
    secure: <pulumi config set --secret groqApiKey YOUR_GROQ_KEY>
  furnace:agentGitUrl: https://github.com/OWNER/furnace.git
